html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 30px;
  background-color: #1D2936;
  color: #fff;
  text-align: center; }

.section {
  margin-bottom: 8rem; }

.main-background {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(201, 129, 95, 0.8), rgba(29, 41, 54, 0.8)), url("../img/main-background.jpg");
  background-size: cover;
  border-radius: 10px; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-primary {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 3s;
  padding-left: 50px;
  padding-right: 50px; }

footer {
  background-color: #C9815F;
  padding: 30px;
  color: #fff;
  text-align: center;
  opacity: 0.7; }

.experience-jumbo {
  background-color: #1D75B2;
  height: 75vh;
  border-radius: 10px; }

.experience-header {
  color: #fff; }

.ecard {
  perspective: 150rem;
  position: relative;
  height: 20rem; }

.ecard__side {
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease;
  backface-visibility: hidden;
  overflow: hidden; }

.ecard__side--front {
  background-color: #0f3b5a;
  transform: rotateY(0deg); }

.ecard__side--back {
  background-color: #47A8DB;
  transform: rotateY(180deg); }

.ecard:hover .ecard__side--front {
  transform: rotateY(-180deg); }

.ecard:hover .ecard__side--back {
  transform: rotateY(0deg); }

.ecard__picture {
  height: 10rem;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }

.ecard__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(201, 129, 95, 0.8), rgba(29, 41, 54, 0.8)), url("../img/main-background.jpg"); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
